{% extends "layout.html" %}
{% block content %}
<meta http-equiv="refresh" content="3">
<div style="margin-top: 52px;" class="centered">
    <div style="margin-top: 0px; margin-left: 500px;" class="left">
        <div class="column">
            <div class="row">
                {% for i in range(1, 4) %}
                <img src="/static/output_folder/browse{{ i }}.png">
                {% endfor %}

            </div>
            <div class="row">
                {% for i in range(4, 7) %}
                <img src="/static/output_folder/browse{{ i }}.png">
                {% endfor %}


            </div>
            <div class="row">
                {% for i in range(7, 10) %}
                <img src="/static/output_folder/browse{{ i }}.png">
                {% endfor %}
            </div>


        </div>
    </div>


    <!--
    <table class="centered">
        <tr>
            {% for i in range(1, 10) %}
                <td><img src="/static/output_folder/browse{{ i }}.png"></td>
            {% endfor %}
        </tr>
    </table> -->


    <form style="margin-top: 50px;" id="sliders" action="{{ url_for('browse_results') }}" method=post
          enctype=multipart/form-data>
        Smartness:
        <div class="slidecontainer">
            low<input type="range" min="0" max="8" value="{{ iterations }}" class="slider" name="iterations">high
        </div>

        Variety:
        <div class="slidecontainer">
            small<input type="range" min="0" max="2" value="{{ batchsize }}" class="slider" name="batchsize">large
        </div>

        <input style="margin-top: 100px;" class="btn" type="submit" value="Apply Changes">
    </form>


    <form action="{{ url_for('browse_settings') }}" method=get>
        <input class="btn" type="submit" value="Browse Settings">
    </form>
</div>
{% endblock %}
