{% extends "layout.html" %}
{% block content %}
    <div class = centered>
        <h1 id="title">Fashion's Block<sup>2</sup></h1>
        <h2 id="subtitle">Inspire yourself</h2>
    </div>


    <div class="centered">
        <table class="centered">
            <tr>
                <td>
                    <button id="button-1" onClick="window.location.href='/input';">
                        <img src="/static/icons/frame-landscape@2x.svg">
                        <p class="centered">Upload Image</p>
                    </button>
                </td>
                <td>
                    <button id="button-2" onClick="window.location.href='/browse_settings';">
                        <img src="/static/icons/magnifier@2x.svg">
                        <p class="centered">Browse</p>
                    </button>
                </td>
            </tr>
        </table>
    </div>


    <footer id="footer">
        <text>2019 Fashion's Block<sup>2</sup></text>
        <a href="/home">Home</a>
    </footer>
{% endblock %}
