{% extends "layout.html" %}
{% block content %}
    <form class="centered" action="{{ url_for('input') }}" method=post enctype=multipart/form-data>
        <table class="centered">
            <tr>
                <td>
                    <input type=file name=file>
                </td>
                <td>
                    <table class="centered">
                        <tr>
                            <td>
                                <table id="table-1">
                                    <tr>
                                        <td>
                                            <label for="shoes-1">
                                                <input id="shoes-1" type="radio" name="select-category-1" value="shoes" checked>
                                                <img src="/static/icons/Shape Copy@2x.svg">
                                                <p class="centered">Shoes</p>
                                            </label>
                                        </td>
                                        <td>
                                            <label for="fruits-1">
                                                <input id="fruits-1" type="radio" name="select-category-1" value="fruits">
                                                <img src="/static/icons/fruits@2x.svg">
                                                <p class="centered">Fruits</p>
                                            </label>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <label for="handbags-1">
                                                <input id="handbags-1" type="radio" name="select-category-1" value="handbags">
                                                <img src="/static/icons/handbag (1)@2x.svg">

                                                <p class="centered">Handbags</p>
                                            </label>
                                        </td>
                                        <td>
                                            <label for="dogs-1">
                                                <input id="dogs-1" type="radio" name="select-category-1" value="dogs">
                                                <img src="/static/icons/dog%20copy@2x.png">
                                                <p class="centered">Dogs</p>
                                            </label>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <label for="food-1">
                                                <input id="food-1" type="radio" name="select-category-1" value="food">
                                                <img src="/static/icons/groceries%20copy@2x.png">
                                                <p class="centered">Food</p>
                                            </label>
                                        </td>
                                        <td>
                                            <label for="trousers-1">
                                                <input id="trousers-1" type="radio" name="select-category-1" value="trousers">
                                                <img src="/static/icons/trousers@2x.png">
                                                <p class="centered">Trousers</p>
                                            </label>
                                        </td>
                                    </tr>
                                </table>
                            </td>
                            <td>
                                <table id="table-2">
                                    <tr>
                                        <td>
                                            <label for="shoes-2">
                                                <input id="shoes-2" type="radio" name="select-category-2" value="shoes">
                                                <img src="/static/icons/Shape Copy@2x.svg">
                                                <p class="centered">Shoes</p>
                                            </label>
                                        </td>
                                        <td>
                                            <label for="fruits-2">
                                                <input id="fruits-2" type="radio" name="select-category-2" value="fruits" checked>
                                                <img src="/static/icons/fruits@2x.svg">
                                                <p class="centered">Fruits</p>
                                            </label>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <label for="handbags-2">
                                                <input id="handbags-2" type="radio" name="select-category-2" value="handbags">
                                                <img src="/static/icons/handbag (1)@2x.svg">
                                                <p class="centered">Handbags</p>
                                            </label>
                                        </td>
                                        <td>
                                            <label for="dogs-2">
                                                <input id="dogs-2" type="radio" name="select-category-2" value="dogs">
                                                <img src="/static/icons/dog%20copy@2x.png">
                                                <p class="centered">Dogs</p>
                                            </label>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <label for="food-2">
                                                <input id="food-2" type="radio" name="select-category-2" value="food">
                                                <img src="/static/icons/groceries%20copy@2x.png">
                                                <p class="centered">Food</p>
                                            </label>
                                        </td>
                                        <td>
                                            <label for="trousers-2">
                                                <input id="trousers-2" type="radio" name="select-category-2" value="trousers">
                                                <img src="/static/icons/trousers@2x.png">
                                                <p class="centered">Trousers</p>
                                            </label>
                                        </td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
        </table>


        <div class="centered">
            <input class="btn" type="submit" value="Get Inspired">
        </div>
    </form>

{% endblock %}
