<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Fashion's Block<sup>2</sup></title>

        <!-- Bootstrap CSS
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
        -->

        <link rel="stylesheet" type="text/css" href="static/style.css">
    </head>
    <body>
        <nav id="navbar">
            <text>Fashion's Block<sup>2</sup></text>
            <a href="/home">Home</a>
        </nav>


        {% with messages = get_flashed_messages(with_categories=true) %}
          {% for category, message in messages %}
            <div class="{{ category }}">{{ message }}</div>
          {% endfor %}
        {% endwith %}


        {% block content %}
        {%  endblock %}
    </body>
</html>