{% extends "layout.html" %}
{% block content %}
<meta http-equiv="refresh" content="3">

<div style="margin-top: 52px;" class="centered">

    <div style="margin-top: 0px; margin-left: 500px;" class="left">
        <div class="column">
            <div class="row">
                {% for i in range(1, 4) %}
                <img src="/static/output_folder/input{{ i }}.png">
                {% endfor %}

            </div>
            <div class="row">
                {% for i in range(4, 7) %}
                <img src="/static/output_folder/input{{ i }}.png">
                {% endfor %}


            </div>
            <div class="row">
                {% for i in range(7, 10) %}
                <img src="/static/output_folder/input{{ i }}.png">
                {% endfor %}
            </div>


        </div>
    </div>


    <!--

    <form id="sliders" action="{{ url_for('output') }}" method=post enctype=multipart/form-data>


        Iterations:
        <div class="slidecontainer">
            low<input type="range" min="0" max="8" value="{{ iterations }}" class="slider" name="iterations">high
        </div>


        Variety:
        <div class="slidecontainer">
            small<input type="range" min="0" max="2" value="{{ batchsize }}" class="slider" name="batchsize">large
        </div>

        <form action="{{ url_for('output') }}">

            <input style="margin-top: 200px;" class="btn" type="submit" value="Apply Changes">
        </form>

    </form>
    -->
     <form style="margin-top: 50px;" id="sliders" action="{{ url_for('output') }}" method=post
          enctype=multipart/form-data>


        Variety:
        <div class="slidecontainer">
            small<input type="range" min="0" max="2" value="{{ batchsize }}" class="slider" name="batchsize">large
        </div>

        <input style="margin-top: 100px;" class="btn" type="submit" value="Apply Changes">
    </form>



    <form action="{{ url_for('swap') }}">
        <input class="btn" type="submit" value="Swap Categories">
    </form>


    <form action="/home">
        <input class="btn" type="submit" value="Start Anew">
    </form>


</div>
{% endblock %}
