body{
    background-color: #fff;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(102,102,102);
    font-size: 16px;
    line-height: 1.6em;
    margin: 0;
}
#body2{
    background-color: rgb(242,242,242);
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(102,102,102);
    font-size: 16px;
    line-height: 1.6em;
    margin: 0;
}


.container{
    width: 80%;
    margin: auto;
    overflow: hidden;
}

.centered{
    text-align: center;
    margin-left:auto;
    margin-right:auto;
}

.btn{
    font-size: 21px;
    background-color: rgb(11,88,74);
    color: white;
    border-radius: 5px;
    width: 170.7px;
    height: 50.8px;
}

.left{
    float: left;
    width: 50%;
    box-sizing: border-box;
}

.right{
    float: right;
    width: 50%;
    box-sizing: border-box;
}

.selection-area{
    background: rgb(242,242,242);
    border-radius: 5px;
    padding: 10px;
    margin: 20px;
}

#navbar{
    background-color: rgb(11,88,74);
    color:#fff;
    padding-top: 10px;
    padding-bottom: 10px;
}

#navbar text{
    color:#fff;
    text-decoration: none;
    font-size: 18px;
    padding-left: 15px;
}

#navbar a{
    color:#fff;
    text-decoration: none;
    font-size: 18px;
    padding-right: 15px;
    float: right;
    width: 20%;
}

#footer{
    background: rgb(82,82,82);
    color: #fff;
    width: 100%;
    position: relative;
    bottom: -900px;
    padding-top: 10px;
    padding-bottom: 10px;
}

#footer text{
    color:#fff;
    text-decoration: none;
    font-size: 18px;
    padding-left: 15px;
}

#footer a{
    color:#fff;
    text-decoration: none;
    font-size: 18px;
    position: absolute;
    right: 20%;
}

#title{
    font-size: 98px;
    margin-top: 300px;
}

#subtitle{
    font-size: 50px;
}

#table-1{
    margin-top: 40px;
    background-color: rgb(242,242,242);
    width: 543px;
    height: 781px;
    border-radius: 20px;
    padding-top: 24px;
    padding-bottom: 24px;
    padding-right: 35px;
    padding-left: 35px;
}

#table-1 td{
    background-color: rgb(255,254,232);
    border-radius: 10px;
    width: 219px;
    height: 219px;
}

#table-1 img{
    width: 50%;
    height: 50%;
}

#table-2{
    margin-top: 40px;
    background-color: rgb(242,242,242);
    width: 543px;
    height: 781px;
    border-radius: 20px;
    padding-top: 24px;
    padding-bottom: 24px;
    padding-right: 35px;
    padding-left: 35px;
}

#table-2 td{
    background-color: rgb(232,254,250);
    border-radius: 10px;
    width: 219px;
    height: 219px;
}

#table-2 img{

    width: 50%;
    height: 50%;
}

#button-1{
    background-color: rgba(255,157,118,0.25);
    width: 300px;
    height: 258px;
    border-radius: 10px;
}

#button-1 p{
    font-size: 26px;
    color: rgb(102,102,102);
}

#button-2{
    background-color: rgba(57,288,159,0.15);
    width: 300px;
    height: 258px;
    border-radius: 10px;
}

#button-2 p{
    font-size: 26px;
    color: rgb(102,102,102);
}

/* HIDE RADIO */
[type=radio] {
  position: absolute;
  opacity: 0;
  width: 0;
  height: 0;
}

/* IMAGE STYLES */
[type=radio] + img {
  cursor: pointer;
}

/* CHECKED STYLES */
[type=radio]:checked + img {
  background-color: rgb(255,211,194);
}

.error {
    color: red;
    background-color: rgb(255,211,194);
    text-align: center;
    margin-left:auto;
    margin-right:auto;
}



/* IMAGE GRID */
.row {
  display: flex;
  flex-wrap: wrap;
  padding: 0px 0px;
}

/* Create two equal columns that sits next to each other */
.column {
  flex: 32%;
  padding: 0 0;
}

.column img {
  margin-bottom: 40px;
  vertical-align: middle;
  margin-right:40px;

}



